In [1]:
import pandas as pd
import numpy as np

In [6]:
sen2vec = pd.read_csv('../output/sen2vec_100knn.csv') 
sen2vec.replace({'?mhY5opF':'?mhY5opF4'},inplace=True)
#p: 0.408 r: 0.918918918918919
sen2vec.rename(columns = {'result':'sen2vec'},inplace=True)

In [7]:
freq = pd.read_csv('../output/sen2vec_300small_knn.csv')
#p: 0.423 r: 0.9527027027027027
freq.rename(columns = {'result':'freq'},inplace=True)

In [7]:
single = pd.read_csv('../output/result_all.csv')
#p: 0.437 r: 0.9842342342342343
single.rename(columns = {'result':'doc'},inplace=True)

In [8]:
sen2vec.shape,freq.shape,single.shape

NameError: name 'single' is not defined

In [9]:
sen2vec.head()

    test_id   sen2vec
0  ahpq2Zzn  HeGxWnKV
1  p2Hkot4E  EemG3TYB
2  6pEJaYSB  nboyHcTL
3  fEClIHUb  DtWPQnv4
4  QORyZCX6  viqACuS2

In [10]:
freq.head()

    test_id      freq
0  ahpq2Zzn  OBIWG4sg
1  p2Hkot4E  ZjlDhAMS
2  6pEJaYSB  xqeJwCQb
3  fEClIHUb  DtWPQnv4
4  QORyZCX6  viqACuS2

In [11]:
single.head()

NameError: name 'single' is not defined

In [12]:
comb = pd.merge(freq,sen2vec)

In [13]:
comb.shape

(999, 3)

In [14]:
set(freq['test_id'])- set(comb['test_id'])

{'\ufeffmhY5opF'}

In [15]:
set(sen2vec['test_id'])- set(comb['test_id'])

{'?mhY5opF4'}

In [34]:
comb = pd.merge(comb,single)

In [16]:
comb.shape

(999, 3)

In [17]:
comb.head()

    test_id      freq   sen2vec
0  ahpq2Zzn  OBIWG4sg  HeGxWnKV
1  p2Hkot4E  ZjlDhAMS  EemG3TYB
2  6pEJaYSB  xqeJwCQb  nboyHcTL
3  fEClIHUb  DtWPQnv4  DtWPQnv4
4  QORyZCX6  viqACuS2  viqACuS2

In [18]:
def double_compare(x,y):
    if x==y:
        return x
    else:
        return

In [19]:
def compare(x,y,z):
    if (x==y)|(x==z):
        return x
    elif y==z:
        return y
    else:
        return

In [20]:
result = comb.apply(lambda row:double_compare(row['sen2vec'],row['freq']),axis=1)

In [21]:
comb['result'] = result

In [22]:
comb['result'].count()

569

In [23]:
best_insure = pd.read_csv('../output/comb_freq_threshold50.csv')

In [24]:
best_insure.head()

    test_id result
0  ahpq2Zzn    NaN
1  p2Hkot4E    NaN
2  6pEJaYSB    NaN
3  fEClIHUb    NaN
4  QORyZCX6    NaN

In [25]:
comb.head()

    test_id      freq   sen2vec    result
0  ahpq2Zzn  OBIWG4sg  HeGxWnKV      None
1  p2Hkot4E  ZjlDhAMS  EemG3TYB      None
2  6pEJaYSB  xqeJwCQb  nboyHcTL      None
3  fEClIHUb  DtWPQnv4  DtWPQnv4  DtWPQnv4
4  QORyZCX6  viqACuS2  viqACuS2  viqACuS2

---

In [41]:
comb.drop(['sen2vec','freq','doc'],axis=1).to_csv('../output/comb_3freq_threshold50.csv',index=False)

In [42]:
comb.head()

       freq   test_id   sen2vec       doc    result
0  2Y5w4uGQ  02dDNCjL  izVI9MXO  izVI9MXO  izVI9MXO
1       NaN  038FZp4Q  LCwbjDSX  RdQcLlzB      None
2  iYkr0Rdz  03hLTst4  iYkr0Rdz  iYkr0Rdz  iYkr0Rdz
3  3f8AOLpF  03pcT2Nl  3f8AOLpF  3f8AOLpF  3f8AOLpF
4       NaN  08J5Gwh3  io9Hm43t  M6ZEWlna      None

In [43]:
comb.shape

(1000, 5)