In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
sen2vec = pd.read_csv('../output/sen2vec_100replace.csv')
sen2vec.rename(columns = {'result':'sen2vec'},inplace=True)

In [4]:
freq = pd.read_csv('../output/frequency_threshold50.csv')
freq.rename(columns = {'result':'freq'},inplace=True)

In [5]:
sen2vec.head()

    test_id   sen2vec
0  ahpq2Zzn  HeGxWnKV
1  p2Hkot4E  EemG3TYB
2  6pEJaYSB  nboyHcTL
3  fEClIHUb  DtWPQnv4
4  QORyZCX6  viqACuS2

In [6]:
freq.head()

       freq   test_id
0  2Y5w4uGQ  02dDNCjL
1       NaN  038FZp4Q
2  iYkr0Rdz  03hLTst4
3  3f8AOLpF  03pcT2Nl
4       NaN  08J5Gwh3

In [7]:
comb = pd.merge(sen2vec,freq)

In [8]:
comb.head()

    test_id   sen2vec      freq
0  ahpq2Zzn  HeGxWnKV  BrznFLD5
1  p2Hkot4E  EemG3TYB       NaN
2  6pEJaYSB  nboyHcTL  3RSkhVZI
3  fEClIHUb  DtWPQnv4       NaN
4  QORyZCX6  viqACuS2       NaN

In [9]:
def compare(x,y):
    if x==y:
        return x
    else:
        return

In [10]:
result = comb.apply(lambda row:compare(row['sen2vec'],row['freq']),axis=1)

In [11]:
comb['result'] = result

In [12]:
comb['result'].count()

392

In [13]:
comb.drop(['sen2vec','freq'],axis=1).to_csv('../output/comb_freq_threshold50.csv',index=False)