In [1]:
import pandas as pd
import numpy as np

In [2]:
result_p = pd.read_csv('../output/comb_freq_threshold50.csv')
result_r = pd.read_csv('../output/comb_3all.csv')

In [22]:
result_p.head()

    test_id result
0  ahpq2Zzn    NaN
1  p2Hkot4E    NaN
2  6pEJaYSB    NaN
3  fEClIHUb    NaN
4  QORyZCX6    NaN

In [23]:
result_r.head()

    test_id    result
0  02dDNCjL  izVI9MXO
1  038FZp4Q  RdQcLlzB
2  03hLTst4  iYkr0Rdz
3  03pcT2Nl  3f8AOLpF
4  08J5Gwh3       NaN

In [24]:
result_p['result'].count()*0.9897959183673469

388.0

In [25]:
result_r['result'].count()*0.8263358778625954

433.0